body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
  }
  
  #demo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: #000;
  }
  
  #demo-canvas {
    border: 2px solid #fff;
  }
  